body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, blue, red);
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, orange, blue);
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto 30px;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 15px;
    background-color: rgb(100, 0, 57);
    border-radius: 7px;
    border-style: solid;
    border-image: linear-gradient(to right, red, pink);
    color: white;
    cursor: pointer;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 30px auto;
    max-width: 1000px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0;
}

.product-card button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
  
